* {
    font-family: Gill Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0px;
    background-color: burlywood;
}

.container>div>button {
    margin: 7px;
    background-color: burlywood;
    cursor: pointer;
    border: none;
}

@media (max-width:550px) {
    .container {
        flex-direction: column;
    }
}