<form class="form" [formGroup]="EmployeeForm" (ngSubmit)="OnSubmit()">
    <div class="name">
        <mat-form-field appearance="fill">
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
    </div>
    <div class="salary">
        <mat-form-field appearance="fill">
            <mat-label>Salary:</mat-label>
            <input matInput type="number" formControlName="salary">
        </mat-form-field>
    </div>
    <div>
        <label>job:</label>
        <mat-radio-group aria-label="job:" formControlName="job">
            <mat-radio-button value="Accountant">Accountant</mat-radio-button>
            <mat-radio-button value="Developer">Developer</mat-radio-button>
            <mat-radio-button value="Manager">manager</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="isFired">
        <mat-checkbox formControlName="fired">he is fired</mat-checkbox>
    </div>
    <div>
        <label>DOB:</label>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="department">
        <label>department:</label>
        <mat-form-field appearance=" fill " formGroupName="department">
            <mat-label>department</mat-label>
            <mat-select formControlName="id">
                <mat-option *ngFor="let dept of Departments" value={{dept.id}}>{{dept.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <div class="project" formGroupName="projects">
        <label>Projects:</label>
        <mat-selection-list formControlName="id">
            <mat-list-option *ngFor="let project of projects" value={{project.id}}>
                {{project.name}}
            </mat-list-option>
        </mat-selection-list>
    </div> -->
    <button mat-raised-button [disabled]="!EmployeeForm.valid " type="submit ">submit</button>
    <button mat-raised-button (click)="EmployeeForm.reset()" type="button">clear</button>
</form>